@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welp</h1>
    <p class="lead">Share reviews of local businesses</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Businesses</h2>
         <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "Businesses")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Business Types</h2>
         <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "BusinessTypes")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ratings</h2>
        <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "Ratings")</a></p>
    </div>
</div>
<div class="row">
<div class="col-md-4">
    <h2>Photos</h2>
    <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "Photos")</a></p>
</div>
<div class="col-md-4">
    <h2>Users</h2>
    <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "Users")</a></p>
</div>
</div>